body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit'
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px); /* 100vh significa 100% da altura disponivel */
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;
    width: 320px;
    height: 500px;
    transition: all 0.2s linear;
}

.box:hover {
    box-shadow: 1px 5px 14px #787878;
}

img {
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin: 10px 40px;
}


.title {
    letter-spacing: 1px;
    text-align: center;
    line-height: 24px;
    color: hsl(218, 44%, 22%);
    font-size: 1.28rem; /* rem ("root em") é o tamanho de fonte do elemento-raiz do documento, 16px é o padrão do rem, para saber o valor do px, basta dividir o px pelo valor do rem */
    font-weight: 700;
}



.desc {
    padding: 0px 20px;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 0.6875rem;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 376px) {
    
    .container {
        height: 550px;    
    }

    .title {
        font-size: 1.5rem;
        line-height: 26px;
    }
}