body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit'
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px); /* vh significa 100% da altura disponivel */
}

.box {
    border-radius: 20px;
    background-color: #fff;
    width: 320px;
    height: 500px;
}

.img {
    border-radius: 15px;
    background-image: url(images/image-qr-code.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin: 12px;
    cursor: pointer;
}

.title {
    text-align: center;
    line-height: 24px;
    color: hsl(218, 44%, 22%);
    font-size: 1.28rem; /* rem ("root em") é o tamanho de fonte do elemento-raiz do documento, 16px é o padrão do rem, para saber o valor do px, basta dividir o px pelo valor do rem */
    font-weight: 700;
}



p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    
}

.attribution { 
    font-size: 0.6875rem;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 376px) {
    
    .container {
        height: 535px;
    }

    .title {
        font-size: 1.4rem;
    }

}