body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit'
}

.box {
    max-height: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
}

.container {
    border-radius: 20px;
    background-color: #fff;
    width: 320px;
    height: 500px;
}

.img {
    border-radius: 15px;
    background-image: url(images/image-qr-code.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin: 12px;
    cursor: pointer;
}

h3 {
    text-align: center;
    line-height: 22px;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 376px) {
    
    .container {
        height: 535px;
    }

    h3 {
        font-size: 25px;
        line-height: 30px;
    }

    p {
        font-size: 18px;
    }
}